<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
    <style type="text/css">
	label {
		display: inline-block;
		width: 200px;
		margin: 5px;
		text-align: left;
	}
	input[type=text], input[type=password], select {
		display: inline-block;
		width: 200px;
	}
	input[type=radio] {
		margin-left: 45px;
	}
	input[type=checkbox] {
		margin-right: 190px;
	}
	button {
		padding: 5px;
		margin: 10px;
	}

    </style>
</head>
<body>
<div align="center">
    <h1>Fang </h1>
    <form action="#" th:action="@{/fang_query}" method="post" th:object="${fang}">
        <!--<label>Symbols:</label>
        <select th:field="*{symbols}">
            <option th:each="p : ${listSymbol}" th:value="${p}" th:text="${p}" />
        </select><br/>-->

        <label>Symbol:</label>
        <input type="text" th:field="*{symbol}"/><br/>

        <label>UnitCost:</label>
        <input type="text" th:field="*{unitCost}"/><br/>

        <label>Qty:</label>
        <input type="text" th:field="*{qty}"/><br/>

        <label>Status:</label>
        <input type="radio" th:field="*{status}" value="1"/>position
        <input type="radio" th:field="*{status}" value="0"/>sell<br/>

        <button type="submit">GO</button>
    </form>
</div>
</body>
</html>